{% extends 'layouts/layout.html.twig' %}


{% block content %}

    <div class="text-center">

        <div class="form-signin mb-5">

            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error | raw }}
                    </div>
                {% else %}
                <h1 class="display-3 mb-3 font-weight-normal">{{ 'account.password-recovery' | trans }}</h1>

                <p>{{ 'account.password-recovery-text' | trans([email]) }}</p>
                <input type="password" id="password" name="password" required="required" class="form-control">
                <input type="hidden" id="token" name="token" value="{{ token }}" />

                <div class="form-group">
                    <button type="submit" id="_submit" name="_submit" class="btn-success btn-lg btn-block mt-4 btn">{{ 'account.set-password' | trans }}</button>
                </div>
                {% endif %}

            </form>

        </div>
    </div>

{% endblock %}