{# @var news \Pimcore\Model\DataObject\News #}

{% set detailLink = app_news_detaillink(news) %}


<li class="media my-3">


    {% if news.gallery.items %}
        {% set image = news.gallery.current %}

        {% if image.image %}
            <a href="{{ detailLink }}">
                {{ image.image.thumbnail('newsList').html({class: 'mr-3'}) | raw }}
            </a>
        {% endif %}
    {% endif %}

    <div class="media-body">
        <h5 class="mt-0">
            <a href="{{ detailLink }}" class="text-decoration-none text-dark">
                {{ news.title }}
            </a>
        </h5>
        {{ news.shortText }}
    </div>
</li>