<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% spaceless -%}
            {# add global stylesheets and scripts outside of any blocsk to add them to the helpers before any others assets are added #}
            {# we use the view helper to have cache buster functionality #}
            {% do pimcore_head_link().appendStylesheet(asset(' ')) %}
            {% do pimcore_head_link().appendStylesheet('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700&display=swap') %}
            {% do pimcore_head_link().appendStylesheet('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css',null,null,{integrity:"sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T",crossorigin:"anonymous"}) %}
            {% do pimcore_head_link().appendStylesheet('https://use.fontawesome.com/releases/v5.9.0/css/all.css') %}
            {% do pimcore_head_link().appendStylesheet(asset('static/css/global.css')) %}
            {% if editmode %}
                {% do pimcore_head_link().appendStylesheet(asset('static/css/editmode.css')) %}
            {% endif %}
            {% do pimcore_head_script().appendFile('https://code.jquery.com/jquery-3.3.1.slim.min.js',null,null,{ integrity:"sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile('https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js',null,null,{ integrity:"sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1",crossorigin:"anonymous"}) %}
            {% do pimcore_head_script().appendFile('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js',null,null,{ integrity:"sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM",crossorigin:"anonymous"}) %}

            {% if not document is defined or not document %}
                {% set document = pimcore_document(1) %}
            {% endif %}

            {% if document is instanceof('\\Pimcore\\Model\\Document\\Link') %}
                {# @var document \Pimcore\Model\Document\Link #}
                {% set document = document.getObject() %}
            {% endif %}

            {% if document.getTitle() is not empty %}
                {% do pimcore_head_title().set(document.getTitle()) %}
            {% endif %}

            {% if document.getDescription() is not empty %}
                {% do pimcore_head_meta().setDescription(document.getDescription()) %}
            {% endif %}

            {% do pimcore_head_title().append('Pimcore Demo') %}
            {% do pimcore_head_title().setSeparator(' : ') %}
        {%- endspaceless %}

        {# we're using the deferred extension here to make sure this block is rendered after all helper calls #}
        {% block layout_head_meta deferred %}
        {{ pimcore_head_title() }}
        {{ pimcore_head_meta() }}
        {% endblock %}

        {% block head_stylesheets deferred %}
        {{ pimcore_head_link() }}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark sticky-top py-1 site-header">
            {# get root node if there is no document defined (for pages which are routed directly through static route) #}
            {% if not document is defined or not document %}
                {% set document = pimcore_document(1) %}
            {% endif %}

            {# get the document which should be used to start in navigation | default home #}
            {% set navStartNode = document.getProperty('navigationRoot') %}

            {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document') %}
                {% set navStartNode = pimcore_document(1) %}
            {% endif %}

            {#{% set mainNavigation = pimcore_build_nav(document, navStartNode) %}#}
            {% set mainNavigation =  app_navigation_data_links(document, navStartNode) %}
            <div class="container">
                {#Logo Image#}
                <a class="py-2 mb-2" href="{{ navStartNode }}">
                    <img id ="logo" src="{{ asset('/static/images/logo.svg') }}" alt="Oldtimer Cars - Pimcore Demo">
                </a>
                {#responsive burger menu icon#}
                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {#main header#}
                <div class="navbar-collapse collapse" id="navbarCollapse">
                    {#header - generate pimcore navigation #}


                    {{ pimcore_render_nav(mainNavigation, 'menu', 'renderMenu', {
                        maxDepth: 3,
                        ulClass: 'navbar-nav menu-links ml-4 m-auto'
                    }) }}


                    {#header - navigation icons#}
                    {{ include('/includes/navigation-icons.html.twig') }}
                </div>
            </div>
        </nav>
        <header></header>

        <main role="main">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}


            {{ block('content') }}

        </main>

        {# include a document-snippet - in this case the footer document #}
        {{ pimcore_inc(document.getProperty('footer')) }}

        {# output scripts added before #}
        {% block scripts deferred %}
            {{ pimcore_head_script() }}
        {% endblock %}

        <script type="text/javascript" >
            // main menu
            $(".navbar ul.navbar-nav>li>ul").each(function () {
                var li = $(this).parent();
                var a = $("a.nav-link", li);

                $(this).addClass("dropdown-menu");
                li.addClass("dropdown");
                a.addClass("dropdown-toggle");
                li.on("mouseenter", function () {
                    $("ul", $(this)).show();
                });
                li.on("mouseleave", function () {
                    $("ul", $(this)).hide();
                });
            });
        </script>
        {{ pimcore_inline_script() }}
    </body>
</html>