<!doctype html>
<html lang="{{ app.request.locale }}">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
        <link rel="stylesheet" href="/static/css/global.css">

        {% spaceless -%}
            {% do pimcore_head_link().appendStylesheet(asset('static/css/global.css')) %}
        {%- endspaceless %}

        {{ pimcore_head_script() }}

    </head>
    <body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top py-1 site-header">
        {# get root node if there is no document defined (for pages which are routed directly through static route) #}
        {% if not document is defined or not document %}
            {% set document = pimcore_document(1) %}
        {% endif %}

        {# get the document which should be used to start in navigation | default home #}
        {% set navStartNode = document.getProperty('navigationRoot') %}
        {% if not navStartNode is instanceof('\\Pimcore\\Model\\Document\\Page') %}
            {% set navStartNode = pimcore_document(1) %}
        {% endif %}

        {% set mainNavigation = pimcore_build_nav(document, navStartNode) %}
        {% set menuRenderer = pimcore_nav_renderer('menu') %}
        <div class="container">
            {#Logo Image#}
            <a class="py-2 mb-2" href="/">
                <img id="logo" src="/static/images/logo.svg" />
            </a>
            {#responsive burger menu icon#}
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarCollapse" style="">
                {#header - navigation links #}
                <ul class="navbar-nav ml-4 m-auto">
                {% for page in mainNavigation %}
                    {% if page.visible() or menuRenderer.accept(page) %}
                        {% set hasPages = page.hasPages() %}
                        {% if hasPages %}
                            <li class="dropdown py-2 d-md-inline-block menu-link nav-item  px-3">
                                <a class="nav-link dropdown-toggle" href="{{ page.href() }}" id="dropdownMenuLink" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">{{ page.label() }}</a>
                                <ul class="dropdown-menu  animate slideIn" aria-labelledby="dropdownMenuLink">
                                    {% for childPage in page.pages() %}
                                        {% if childPage.visible() or menuRenderer.accept(childPage) %}
                                            <li class="dropdown-item"><a href="{{ childPage.href() }}">{{ childPage.label() }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="py-2 d-md-inline-block menu-link nav-item px-3">
                                <a class="nav-link" href="{{ page.href() }}">{{ page.label() }} </a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                </ul>
                {#header - navigation icons#}
                <ul class="navbar-nav menu-icons">
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
                            <img src="/static/images/icons/search.svg" /></a>
                        <div class="dropdown-menu dropdown-menu p-2">
                            <span class="dropdown-menu-arrow dropdown-menu-arrow-search"></span>
                            <form class="form-inline md-form mt-0">
                                <input class="form-control form-control-sm" type="text" placeholder="search and press enter"
                                       aria-label="Search">
                            </form>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
                            <img src="/static/images/icons/profile.svg" /></a>
                        <div class="dropdown-menu">
                            <span class="dropdown-menu-arrow search arrow"></span>
                            <a href="#" class="dropdown-item">Profile</a>
                            <a href="#" class="dropdown-item">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a href="#"class="dropdown-item">Logout</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle py-2 d-none  d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
                            <img src="/static/images/icons/cart.svg" /></a>
                        <div class="dropdown-menu dropdown-menu-left">
                            <span class="dropdown-menu-arrow"></span>
                            <a href="#" class="dropdown-item">Order Summary</a>
                            <div class="dropdown-divider"></div>
                            <a href="#"class="dropdown-item">View Cart</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
        <header>



        </header>

        <main role="main">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ label }} alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}


            {{ block('content') }}

        </main>

            {# include a document-snippet - in this case the footer document #}
            {{ pimcore_inc('/shared/includes/footer') }}

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        {{ pimcore_inline_script() }}
    </body>
</html>