{# @var productListing \Pimcore\Bundle\EcommerceFrameworkBundle\IndexService\ProductList\ProductListInterface #}
{# @var result \Zend\Paginator\Paginator #}
{# @var item \AppBundle\Model\Product\Car #}
{# @var filterService \Pimcore\Bundle\EcommerceFrameworkBundle\FilterService\FilterService #}
{# @var filterDefinition \Pimcore\Model\DataObject\FilterDefinition #}

{% extends 'layout.html.twig' %}

{% block content %}


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">

                <div class="col-md-3">

                    <form id="js_filterfield">

                        {% if(filterDefinition.filters|length > 0) %}

                            {% for filter in filterDefinition.filters %}

                                {% set filterMarkup = filterService.filterFrontend(filter, productListing, currentFilter) %}

                                {{ filterMarkup | raw  }}

                            {% endfor %}
                        {% endif %}

                    </form>

                </div>

                <div class="col-md-9">

                    <div class="row">

                        {%  for item in results %}
                            <div class="col-md-4">
                                <div class="card custom-product-card mb-4 shadow-sm">
                                    {% if(item.mainImage) %}
                                        {{ item.mainImage.thumbnail('grid').html({style: 'width: 100%; height: auto'}) | raw }}
                                    {% endif %}
                                    <div class="card-body pricing">
                                        <h4 class="card-title pricing-card-title text-uppercase">{{ item.oSName }} ({{ item.id }}) </h4>
                                        <p class="card-text">Cabrio 1200 34PS, Original</p>
                                        <p class="card-price">{{ item.oSPrice }}</p>
                                        <div class="row">
                                            <div class="col-6 pr-1">
                                                <a href="{{ app_product_detaillink(item) }}" class="btn btn-block btn-secondary">Details</a>
                                            </div>
                                            <div class="col-6 pl-1">
                                                <a href="{{ path('shop-add-to-cart', { id: item.id }) }}" class="btn btn-block btn-primary">Kaufen <i class=" ml-2"><img src="/static/images/icons/cart.svg" height="20" width="auto"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>

                </div>

            </div>

            <div class="pt-5">

                <nav aria-label="Pagination">
                    <ul class="pagination justify-content-center">
                        {%  if(paginationVariables.previous is defined) %}
                            <li class="page-item">
                                <a class="page-link prev" href="{{  pimcore_url({'page': paginationVariables.previous}) }}" aria-label="Previous">
                                    <span aria-hidden="true"></span>
                                </a>
                            </li>
                        {%  endif %}

                        {%  for page in paginationVariables.pagesInRange %}

                            {%  if(paginationVariables.current == page) %}

                                <li class="page-item active" aria-current="page">
                                  <span class="page-link">
                                    {{  page }}
                                    <span class="sr-only">(current)</span>
                                  </span>
                                </li>

                            {%  else %}
                                <li class="page-item"><a class="page-link" href="{{  pimcore_url({'page': page}) }}">{{ page }}</a></li>
                            {%  endif %}

                        {% endfor %}

                        {%  if(paginationVariables.next is defined) %}
                            <li class="page-item">
                                <a class="page-link next flip" href="{{  pimcore_url({'page': paginationVariables.next}) }}" aria-label="Next">
                                    <span aria-hidden="true"></span>
                                </a>
                            </li>
                        {%  endif %}
                    </ul>
                </nav>

            </div>

        </div>
    </div>


{%  endblock %}

{% do pimcore_inline_script().appendScript("

    $('#js_filterfield .custom-checkbox input, #js_filterfield .custom-radio input').on('change', function() {
        $('#js_filterfield').submit();
    });

") %}