<ul class="navbar-nav menu-icons flex-row justify-content-center">
    <li class="search-button nav-item dropdown">
        <a class="search-toggle dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" href="#"  data-selector="#navbarCollapse">
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="dropdown-toggle py-2 d-none d-md-inline-block menu-icon ml-4" data-toggle="dropdown" href="#">
            <img src="/static/images/icons/profile.svg" /></a>

        <ul class="dropdown-menu">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                <span class="dropdown-menu-arrow search arrow"></span>

                <div class="dropdown-item">{{ 'general.logged-in-as' | trans([app.user.useridentifier]) }}</div>
                <div class="dropdown-divider"></div>
                <a href="{{ path('account-index') }}" class="dropdown-item">{{ 'general.profile' | trans }}</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('account-logout') }}"class="dropdown-item">{{ 'general.logout' | trans }}</a>

            {%  else %}

                <span class="dropdown-menu-arrow search arrow"></span>
                <a href="{{ path('account-login') }}"class="dropdown-item">{{ 'general.login' | trans }}</a>

            {% endif %}

        </ul>
    </li>
    <li class="nav-item">
        <a class="py-2 d-none d-md-inline-block menu-icon ml-4" href="{{ path('shop-cart-detail') }}">
            <img src="/static/images/icons/cart.svg" /></a>
    </li>
    {{ include('includes/language.html.twig') }}
</ul>
<form action="{{ path('search') }}" class="search-box mx-auto">
    <input id="autoComplete" name="term" value="{{ app.request.get("term") }}" type="text" class="text search-input" placeholder="Type here to search..." autocomplete="off" />
</form>
