<section class="section grid-gallery row">
{% for i in pimcore_iterate_block(pimcore_block('heroGridBlock', {class:'row'})) %}
    <div class="grid-gallery-item grid-gallery-item{{ i }} {{ (not editmode?'col-md-6':'') }} zoom-outer">
        {% if not editmode %}
        <a href="{{ pimcore_link('heroGridLink' ~ i).href }}">
            {% endif %}
            <span  class="tint {{ (not editmode?'zoom-inner':'') }}">
                {{ pimcore_image('heroGridImage' ~ i, {
                    dropClass: 'grid-gallery-item' ~ i,
                }) }}
                <span class="grid-gallery-item-text">
                    <h2 class="text-uppercase">{{ pimcore_input('heroGridHeadline' ~ i) }}</h2>
                    <h5>{{ pimcore_input('heroGridSubheadline' ~ i) }}</h5>
                    {% if editmode %}
                        <p>{{ pimcore_link('heroGridLink' ~ i) }}</p>
                    {% endif %}
                </span>
            </span>
            {% if not editmode %}
        </a>
        {% endif %}
    </div>

{% endfor %}
</section>
