{% set icons = { "asterisk": "f069", "plus": "f067", "euro-sign": "f153", "minus": "f068", "cloud": "f0c2", "envelope": "f0e0", "pencil": "f040", "glass": "f000", "music": "f001", "search": "f002", "heart": "f004", "star": "f005", "star-o": "f006", "user": "f007", "film": "f008", "th-large": "f009", "th": "f00a", "th-list": "f00b", "check": "f00c", "times": "f00d", "search-plus": "f00e", "search-minus": "f010", "power-off": "f011", "signal": "f012", "gear": "f013", "trash": "f1f8", "home": "f015", "file": "f15b", "clock-o": "f017", "road": "f018", "download": "f019", "cloud-download": "f0ed", "upload": "f093", "inbox": "f01c", "play-circle": "f144", "repeat": "f01e", "refresh": "f021", "list-alt": "f022", "lock": "f023", "flag": "f024", "headphones": "f025", "volume-off": "f026", "volume-down": "f027", "volume-up": "f028", "qrcode": "f029", "barcode": "f02a", "tag": "f02b", "tags": "f02c", "book": "f02d", "bookmark": "f097", "print": "f02f", "camera": "f030", "font": "f031", "bold": "f032", "italic": "f033", "text-height": "f034", "text-width": "f035", "align-left": "f036", "align-center": "f037", "align-right": "f038", "align-justify": "f039", "list": "f03a", "indent": "f03c", "video-camera": "f03d", "picture-o": "f03e", "map-marker": "f041", "adjust": "f042", "tint": "f043", "edit": "f044", "share": "f064", "arrows": "f047", "step-backward": "f048", "fast-backward": "f049", "backward": "f04a", "play": "f04b", "pause": "f04c", "stop": "f04d", "forward": "f04e", "fast-forward": "f050", "step-forward": "f051", "eject": "f052", "chevron-left": "f053", "chevron-right": "f054", "question": "f128", "info": "f129", "crop": "f125", "minus-circle": "f056", "check-circle": "f058", "ban": "f05e", "arrow-left": "f060", "arrow-right": "f061", "arrow-up": "f062", "arrow-down": "f063", "share-alt": "f1e0", "expand": "f065", "compress": "f066", "exclamation": "f12a", "gift": "f06b", "leaf": "f06c", "fire": "f06d", "eye": "f06e", "eye-slash": "f070", "warning": "f071", "plane": "f072", "calendar": "f073", "random": "f074", "comment": "f075", "magnet": "f076", "chevron-up": "f077", "chevron-down": "f078", "retweet": "f079", "shopping-cart": "f07a", "folder": "f07b", "folder-open": "f07c", "arrows-v": "f07d", "arrows-h": "f07e", "hdd-o": "f0a0", "bullhorn": "f0a1", "bell": "f0f3", "certificate": "f0a3", "thumbs-up": "f164", "thumbs-down": "f165", "hand-o-right": "f0a4", "hand-o-left": "f0a5", "hand-o-up": "f0a6", "hand-o-down": "f0a7", "arrow-circle-right": "f0a9", "arrow-circle-left": "f0a8", "arrow-circle-up": "f0aa", "arrow-circle-down": "f0ab", "globe": "f0ac", "wrench": "f0ad", "tasks": "f0ae", "filter": "f0b0", "briefcase": "f0b1", "paperclip": "f0c6", "link": "f0c1", "phone": "f095", "dollar-sign": "f155", "pound-sign": "f154", "sort": "f0dc", "	sort-alpha-down": "f15d", "angle-down": "f107", "angle-up": "f106", "user": "f007", "user-times": "f235", "save": "f0c7", "credit-card": "f09d", "chart-line": "f201", "copyright": "f1f9", "compass":"f14e" } %}
{% set iconStore = [] %}
{% for name, code in icons %}
    {% set iconStore = iconStore|merge([[name, '&#x' ~ code ~ ';']]) %}
{% endfor %}

<section class="area-icon-teaser-row">
    <div class="row">

        {% for t in 0..2 %}

            {% set iconSelect = pimcore_select('icon_' ~ t, {
                width: 50,
                store: iconStore,
                reload: true,
                listConfig: {'cls': 'fa-selection'}
            }) %}

            <div class="col-sm-4 d-flex ">
                <div class="teaser-icon">
                    <div class="icon">
                        <div class="image">
                            <i class="fa fa-{{ iconSelect.getData() }}"></i>

                            {% if editmode %}
                                {{ iconSelect|raw }}
                            {% endif %}
                        </div>
                        <div class="info">
                            <h3 class="title">
                                {{ pimcore_input('title_' ~ t) }}
                            </h3>

                            <p>
                                {{ pimcore_textarea('text_' ~ t) }}
                            </p>

                            <div class="more">
                                {{ pimcore_link('link_' ~ t, {
                                    class: 'btn btn-outline-primary'
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}

    </div>
</section>
